{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block head %}
    <title> Bangladesh Army University Cover Page Generator </title>
    <style>
    .form-signin {
        max-width: 500px;
        display: flex;
        flex-direction: column;
	    align-items: center;
        justify-content: center;
        gap: 1em;

    }
    body{
        max-height: 100vh;

    }

    </style>
    <link rel='stylesheet' href="{% static 'bootstrap/bootstrap.min.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
{% endblock %}  

{% block scripts %}
    <script src="{% static 'bootstrap/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js'%}"></script>
    
{% endblock %}

{% block body %}
    <main class="form-signin w-100 py-5 m-auto">
        <img src="{% static 'bauet_logo.png' %}" alt='Bangladesh Army University of Engineering & Technology Logo' width='150' height='150' />
        {% crispy form %}
    </main>
{% endblock %}
